editor/emacs/emacs/files/pisi-spec.rnc

namespace local = ""
namespace inh = inherit

start = PISI

PISI = element PISI { Source, Package+, History }

Source =
   element Source
   {
      Name,
      Homepage,
      Packager,
      License+,
      Icon?,
      IsA*,
      PartOf?,
      Summary+,
      Description*,
      Archive,
      BuildDependencies?,
      Patches?
   }

Package =
   element Package
   {
      Name,
      License?,
      IsA*,
      PartOf?,
      Summary*,
      Description*,
      RuntimeDependencies?,
      Conflicts?,
      Replaces?,
      Files,
      AdditionalFiles?,
      Provides?
   }

History = element History { Update+ }

Name =
   element Name
   {
      xsd:string { pattern = "[0-9a-zA-Z\-_+]*" maxLength = "255" }
   }

Homepage = element Homepage { text }

Icon = element Icon { text }

Packager = element Packager { Packager.Name, Email }

Packager.Name = element Name { xsd:string { maxLength = "255" } }

Email = element Email { text }

License =
   element License
   {
      "3DFX"
    | "3proxy"
    | "3ware"
    | "4F"
    | "7plus"
    | "9wm"
    | "ACME"
    | "ACML"
    | "AECA"
    | "AFL-2.0"
    | "AFL-2.1"
    | "AFL-3.0"
    | "AFTERSTEP"
    | "AGREP"
    | "AICCU"
    | "ALMWorks-1.2"
    | "AMD"
    | "AMPAS"
    | "AMS"
    | "ANTLR"
    | "APL-1.0"
    | "APSL-2"
    | "ATI"
    | "ATOK"
    | "ATT"
    | "AURA"
    | "Adaptec"
    | "Adobe"
    | "Adobe-SourceCode"
    | "AdobeFlash-9.0.31.0"
    | "Aladdin"
    | "Allegro"
    | "Apache-1.1"
    | "Apache-2.0"
    | "Apple"
    | "Arkkra"
    | "Army-EULA"
    | "Arphic"
    | "Artistic"
    | "Artistic-2"
    | "Atmel"
    | "AvP"
    | "BAEKMUK"
    | "BCS"
    | "BEER-WARE"
    | "BL"
    | "BSD"
    | "BSD-2"
    | "BWidget"
    | "BZIP2"
    | "Babylon"
    | "BitTorrent"
    | "BitstreamVera"
    | "Blitz-Artistic"
    | "Boost-1.0"
    | "C3"
    | "CAOSL"
    | "CAPS"
    | "CAVER"
    | "CCPL-Attribution-2.0"
    | "CCPL-Attribution-3.0"
    | "CCPL-Attribution-NonCommercial-NoDerivs-2.0"
    | "CCPL-Attribution-NonCommercial-NoDerivs-2.5"
    | "CCPL-Attribution-ShareAlike-2.0"
    | "CCPL-Attribution-ShareAlike-2.5"
    | "CCPL-Attribution-ShareAlike-3.0"
    | "CCPL-Attribution-ShareAlike-NonCommercial-2.5"
    | "CCPL-ShareAlike-1.0"
    | "CDDL"
    | "CDDL-Schily"
    | "CDF"
    | "CGL"
    | "CMASS-M3"
    | "CMake"
    | "CNRI"
    | "CNRI-QUIXOTE-2.4"
    | "CPL-0.5"
    | "CPL-1.0"
    | "CRACKLIB"
    | "CROSSOVER"
    | "CS-1.0"
    | "Caldera"
    | "CeCILL-2"
    | "Cenon"
    | "Ciphire"
    | "Clarified-Artistic"
    | "Conexant"
    | "Conexant-firmware"
    | "CyberNeko-1.0"
    | "D1X"
    | "DB"
    | "DCC"
    | "DEC-M3"
    | "DES"
    | "DMD"
    | "DNS2GO"
    | "DOOM3"
    | "DSL"
    | "DSNIFF"
    | "DUMB-0.9.2"
    | "EAPL"
    | "ECWPL"
    | "EDB"
    | "EPL"
    | "EPL-1.0"
    | "EPSON"
    | "ETQW"
    | "ElementTree"
    | "Elm"
    | "Emacs"
    | "Exolab"
    | "F-PROT"
    | "FDL-1.1"
    | "FDL-1.2"
    | "FESTIVAL"
    | "FIPL-1.0"
    | "FLEX"
    | "FLTK"
    | "FML-1"
    | "FTL"
    | "FVWM"
    | "FastCGI"
    | "FreeArt"
    | "Frodo"
    | "GAlib"
    | "GDLS"
    | "GLX"
    | "GMGPL"
    | "GPLv1"
    | "GPLv2"
    | "GPLv2+"
    | "GPLv2-with-MySQL-FLOSS-exception"
    | "GPLv2-with-exceptions"
    | "GPLv2-with-linking-exception"
    | "GPLv3"
    | "GPLv3+"
    | "HBRL"
    | "HKSCS"
    | "HPL"
    | "HYDRA"
    | "Hauppauge-Firmware"
    | "HyperSpec"
    | "IBM"
    | "IBM-ILNWP"
    | "IBM-J1.4"
    | "IBM-J1.5"
    | "IBM-J1.6"
    | "ICE"
    | "IPL-1"
    | "IRPDL"
    | "ISC"
    | "ITS4"
    | "Info-ZIP"
    | "Inform"
    | "Intel"
    | "Intel-SDP"
    | "Interbase-1.0"
    | "Introversion"
    | "JDOM"
    | "JNIC"
    | "JPython"
    | "JamesClark"
    | "JasPer"
    | "KQEMU"
    | "KenMacLeod"
    | "Kermit"
    | "LDP"
    | "LDP-1a"
    | "LFS"
    | "LGPLv2"
    | "LGPLv2+"
    | "LGPLv2.1"
    | "LGPLv2.1-FPC"
    | "LGPLv2.1-UUST"
    | "LGPLv2.1-linking-exception"
    | "LGPLv3"
    | "LGPLv3+"
    | "LIBGLOSS"
    | "LICENSE-BITSTREAM"
    | "LLGPL-2.1"
    | "LOKI-EULA"
    | "LPPL-1.2"
    | "LPPL-1.3"
    | "LPPL-1.3b"
    | "LPPL-1.3c"
    | "LRCTF"
    | "MARBLEBLAST"
    | "MBROLA"
    | "MILO"
    | "MIT"
    | "MOTIF"
    | "MPEG4"
    | "MPL-1.0"
    | "MPL-1.1"
    | "MSF-1.2"
    | "MSjdbcEULA"
    | "MSttfEULA"
    | "Macromedia"
    | "MakeIndex"
    | "Memonix"
    | "MonetDBPL-1.1"
    | "Moria"
    | "Mozart"
    | "NCSA-HDF"
    | "NEWLIB"
    | "NPL-1.1"
    | "NVIDIA"
    | "NWL"
    | "NWN-EULA"
    | "Nero"
    | "Nessus-EULA"
    | "NewArtisans"
    | "No-Problem-Bugroff"
    | "Norvig"
    | "OFL"
    | "OFL-1.1"
    | "OGL-1.0a"
    | "OGTSL"
    | "OPENLDAP"
    | "OPERA-9.0"
    | "OPL"
    | "ORIONSERVER"
    | "OSI-Approved"
    | "OSIRIS"
    | "OSL-1.1"
    | "OSL-2.0"
    | "OTN"
    | "Omni"
    | "OpenSoftware"
    | "OpenSymphony-1.1"
    | "OracleDB"
    | "PAM"
    | "PBZIP2"
    | "PDB"
    | "PDFLite"
    | "PEL"
    | "PHP"
    | "PHP-2.02"
    | "PHP-3"
    | "PHP-3.01"
    | "PICO"
    | "PLAN9"
    | "PLDSPv2"
    | "POMPOM"
    | "POSTGRESQL"
    | "PSF-2.2"
    | "PSF-2.3"
    | "PSF-2.4"
    | "PSTT"
    | "PUEL"
    | "PYTHON"
    | "Palm-SDK"
    | "Panda3D"
    | "Pando-EULA"
    | "Parallels"
    | "PathfinderPL-1.1"
    | "PicoContainer"
    | "PoseidonCommon.pdf"
    | "Princeton"
    | "Q2EULA"
    | "Q3AEULA"
    | "QPL"
    | "QPL-1.0"
    | "QUAKE4"
    | "RAR"
    | "RDist"
    | "REALbasic"
    | "RSA-MD2"
    | "RSA-MD4"
    | "RSA-MD5"
    | "RSA-PKCS11"
    | "RTCW"
    | "RTCW-ETEULA"
    | "Racer"
    | "Resounding"
    | "RiceBSD"
    | "Roadrunner"
    | "Ruby"
    | "SGI-B"
    | "SGI-B-1.1"
    | "SGMLUG"
    | "SIFT"
    | "SIL-freeware"
    | "SNNS-4.2"
    | "SOPLA-2.3"
    | "SPL"
    | "SVFL"
    | "Scintilla"
    | "Sendmail"
    | "Sendmail-Open-Source"
    | "SixXS"
    | "Sleepycat"
    | "Smart-Link"
    | "SpeedTouch-USB-Firmware"
    | "Spice-1.1"
    | "Spread-1.0"
    | "Stanford"
    | "Stuffit"
    | "Subversion"
    | "Sudo"
    | "THINKTANKS"
    | "TeX"
    | "Tinker"
    | "UCAR-Unidata"
    | "UCL"
    | "VGBA"
    | "VIGRA"
    | "VOSTROM"
    | "VPL-1.0"
    | "ValveSDK"
    | "ValveServer"
    | "Volano"
    | "W3C"
    | "W3C-document"
    | "WANPIPE"
    | "WRI-EULA"
    | "WTFPL-2"
    | "WarpPipe"
    | "WebMO"
    | "Werken-1.1.1.1"
    | "WordNet-1.6"
    | "X11"
    | "XAnim"
    | "XCIN"
    | "Xdebug"
    | "XeTeX"
    | "Ximian-logos"
    | "YAZ"
    | "ZBL"
    | "ZLIB"
    | "ZORK"
    | "ZPL"
    | "ZSH"
    | "ZendFramework-1.1"
    | "aczoom"
    | "adobe-ps"
    | "adom"
    | "aewm"
    | "amiwm"
    | "anubis"
    | "appres"
    | "aquafont"
    | "arj"
    | "as-is"
    | "astrolog"
    | "astromenace"
    | "atheros-hal"
    | "bakoma"
    | "bass"
    | "bdftopcf"
    | "bea.ri.jsr173"
    | "beforelight"
    | "bestcrypt"
    | "bigreqsproto"
    | "bioapi"
    | "bitmap"
    | "blackshades"
    | "bonnie"
    | "bungie-marathon"
    | "cadsoft"
    | "canada-med"
    | "ccc-beta"
    | "ccp4"
    | "cdegroot"
    | "cedega"
    | "charm"
    | "chasen"
    | "chntpw"
    | "circlemud"
    | "cisco"
    | "cisco-vpn-client"
    | "clibpdf"
    | "clustalw"
    | "cmigemo"
    | "cns"
    | "codehaus-classworlds"
    | "codehaus-groovy"
    | "colt"
    | "compaq-sdla"
    | "compositeproto"
    | "cos"
    | "crafty"
    | "crazney"
    | "cryptopp"
    | "damageproto"
    | "dbgphp"
    | "descent2-data"
    | "dgen-sdl"
    | "distributed.net"
    | "dlj-1.1"
    | "dmxproto"
    | "dom4j"
    | "dvibook"
    | "eGenixPublic"
    | "eGenixPublic-1.1"
    | "editres"
    | "egressor"
    | "encodings"
    | "eternal_lands"
    | "evieext"
    | "fixesproto"
    | "fmod"
    | "folding-at-home"
    | "font-adobe-100dpi"
    | "font-adobe-75dpi"
    | "font-adobe-utopia-100dpi"
    | "font-adobe-utopia-75dpi"
    | "font-adobe-utopia-type1"
    | "font-alias"
    | "font-arabic-misc"
    | "font-bh-100dpi"
    | "font-bh-75dpi"
    | "font-bh-lucidatypewriter-100dpi"
    | "font-bh-lucidatypewriter-75dpi"
    | "font-bh-ttf"
    | "font-bh-type1"
    | "font-bitstream-100dpi"
    | "font-bitstream-75dpi"
    | "font-bitstream-speedo"
    | "font-bitstream-type1"
    | "font-cronyx-cyrillic"
    | "font-cursor-misc"
    | "font-daewoo-misc"
    | "font-dec-misc"
    | "font-ibm-type1"
    | "font-isas-misc"
    | "font-jis-misc"
    | "font-micro-misc"
    | "font-misc-cyrillic"
    | "font-misc-ethiopic"
    | "font-misc-meltho"
    | "font-misc-misc"
    | "font-mutt-misc"
    | "font-schumacher-misc"
    | "font-screen-cyrillic"
    | "font-sony-misc"
    | "font-sun-misc"
    | "font-util"
    | "font-winitzki-cyrillic"
    | "font-xfree86-type1"
    | "fontcacheproto"
    | "fontconfig"
    | "fontsproto"
    | "fonttosfnt"
    | "fping"
    | "free-noncomm"
    | "freedist"
    | "freemarker"
    | "freetts"
    | "fslsfonts"
    | "fstobdf"
    | "galaxyhack"
    | "gamess"
    | "gccmakedep"
    | "gips_iLBClicense.pdf"
    | "glest-data"
    | "glimpse"
    | "glproto"
    | "glut"
    | "gnuplot"
    | "google-picasa"
    | "googleearth"
    | "grass-ipafonts"
    | "guild"
    | "hp-value"
    | "hylafax"
    | "hyperic"
    | "iASL"
    | "iceauth"
    | "ico"
    | "icu"
    | "imagemagick"
    | "imake"
    | "informix-jdbc"
    | "inmon-sflow"
    | "inputproto"
    | "ipadic"
    | "ipw2100-fw"
    | "ipw2200-fw"
    | "ipw3945"
    | "isc-dhcp"
    | "ixp4xx"
    | "jardinains"
    | "jaxen"
    | "jcraft"
    | "jdepend"
    | "jlex"
    | "jrockit"
    | "kbproto"
    | "kinterbasdb"
    | "knights-demo"
    | "kvirc"
    | "lbxproxy"
    | "less"
    | "levee"
    | "lha"
    | "libFS"
    | "libICE"
    | "libSM"
    | "libX11"
    | "libXScrnSaver"
    | "libXTrap"
    | "libXau"
    | "libXaw"
    | "libXcomposite"
    | "libXcursor"
    | "libXdamage"
    | "libXdmcp"
    | "libXevie"
    | "libXext"
    | "libXfixes"
    | "libXfont"
    | "libXfontcache"
    | "libXft"
    | "libXi"
    | "libXinerama"
    | "libXmu"
    | "libXp"
    | "libXpm"
    | "libXprintAppUtil"
    | "libXprintUtil"
    | "libXrandr"
    | "libXrender"
    | "libXres"
    | "libXt"
    | "libXtst"
    | "libXv"
    | "libXvMC"
    | "libXxf86dga"
    | "libXxf86misc"
    | "libXxf86vm"
    | "libdmx"
    | "libdomainkeys-1.1"
    | "libdrm"
    | "libf2c"
    | "libffi"
    | "libfontenc"
    | "liblbxutil"
    | "liboldX"
    | "libxkbfile"
    | "libxkbui"
    | "lisp2wish"
    | "listres"
    | "lndir"
    | "lsof"
    | "luit"
    | "maestro"
    | "makedepend"
    | "mammoth"
    | "mapm"
    | "marginalhacks"
    | "maui"
    | "maya-5.0"
    | "mayadoc-5.0"
    | "mekanix"
    | "meme"
    | "mindterm"
    | "mkcfm"
    | "mkfontdir"
    | "mkfontscale"
    | "mmix"
    | "molmol"
    | "molscript"
    | "mongrel"
    | "mopac7"
    | "mplus-fonts"
    | "mserv"
    | "mupad"
    | "mx4j"
    | "myspell-en_CA-JRossBeresford"
    | "myspell-en_CA-KevinAtkinson"
    | "myspell-et_EE-IEL"
    | "myspell-hyph_sk_SK-TiborBako"
    | "myspell-ispell-GeoffKuenning"
    | "myspell-lt_LT-AlbertasAgejevas"
    | "myspell-ru_RU-ALexanderLebedev"
    | "myspell-th_cs_CZ-PavelRychlySmrz"
    | "namd"
    | "nemerle"
    | "nethack"
    | "netlogo"
    | "netperf"
    | "newton"
    | "nhc98"
    | "nomachine"
    | "oclock"
    | "openafs-krb5"
    | "openafs-krb5-a"
    | "openknights"
    | "openmarket"
    | "openpbs"
    | "openspml"
    | "openssl"
    | "oracle-jdbc"
    | "otter"
    | "paraview"
    | "penguzzle"
    | "perforce"
    | "petrify"
    | "pgasync"
    | "phrack"
    | "pixman"
    | "pkcrack"
    | "pmd"
    | "point2play"
    | "postal2"
    | "poster"
    | "povlegal-3.1g"
    | "povlegal-3.5"
    | "povlegal-3.6"
    | "printproto"
    | "proxymngr"
    | "public-domain"
    | "pymol"
    | "pysqlite"
    | "qeradiant"
    | "qlogic-fibre-channel-firmware"
    | "qpage"
    | "qpopper"
    | "quake1-demodata"
    | "quake2-demodata"
    | "queen"
    | "qwt"
    | "randrproto"
    | "recordproto"
    | "renderproto"
    | "resourceproto"
    | "rgb"
    | "richardson"
    | "ringtonetools"
    | "rstart"
    | "ruby-debug"
    | "satan"
    | "saxpath"
    | "scilab"
    | "scripts"
    | "scrnsaverproto"
    | "selfhtml"
    | "sessreg"
    | "setxkbmap"
    | "shoutcast"
    | "showfont"
    | "simpserver-test"
    | "singular"
    | "sip"
    | "skype-eula"
    | "smproxy"
    | "sparky"
    | "ssh"
    | "sslwrap"
    | "staden"
    | "stardock-images"
    | "stix"
    | "sun-asis-javamake"
    | "sun-bcla-j2ee"
    | "sun-bcla-j2ee-deployment"
    | "sun-bcla-j2me"
    | "sun-bcla-jai"
    | "sun-bcla-java-vm"
    | "sun-bcla-java-vm-1.4.2"
    | "sun-bcla-jimi"
    | "sun-bcla-jmf"
    | "sun-bcla-jmi"
    | "sun-bcla-jms"
    | "sun-bcla-jsapi"
    | "sun-bcla-jsr101"
    | "sun-bcla-jta"
    | "sun-bcla-jvmstat"
    | "sun-csl"
    | "sun-j2sl"
    | "sun-j2sl-6"
    | "sun-jdl"
    | "sun-jrl"
    | "sun-jsr67"
    | "sun-jsr93"
    | "sun-openlook"
    | "sun-rpc"
    | "swiss-prot"
    | "szip"
    | "t-coffee"
    | "tacc"
    | "tcp_wrappers_license"
    | "tkMOO"
    | "tlswrap"
    | "trac"
    | "trapproto"
    | "trolltech_PUL-1.0"
    | "truecrypt-collective-1.0"
    | "ttf2pt1"
    | "twm"
    | "unRAR"
    | "ut2003"
    | "ut2003-demo"
    | "util-macros"
    | "ventrilo"
    | "videoproto"
    | "vienna-rna"
    | "viewcvs"
    | "viewres"
    | "vim"
    | "visual"
    | "vlgothic"
    | "vmd"
    | "vmware"
    | "vmware-console"
    | "w3m"
    | "werken.xpath"
    | "whitehead"
    | "wxWinFDL-3"
    | "wxWinLL-3"
    | "x11perf"
    | "xauth"
    | "xbacklight"
    | "xbattle"
    | "xbiff"
    | "xbitmaps"
    | "xboing"
    | "xcalc"
    | "xclipboard"
    | "xclock"
    | "xcmiscproto"
    | "xcmsdb"
    | "xconsole"
    | "xcursor-themes"
    | "xcursorgen"
    | "xdbedizzy"
    | "xditview"
    | "xdm"
    | "xdpyinfo"
    | "xdriinfo"
    | "xearth"
    | "xedit"
    | "xev"
    | "xextproto"
    | "xeyes"
    | "xf86-input-acecad"
    | "xf86-input-aiptek"
    | "xf86-input-calcomp"
    | "xf86-input-citron"
    | "xf86-input-digitaledge"
    | "xf86-input-dmc"
    | "xf86-input-dynapro"
    | "xf86-input-elo2300"
    | "xf86-input-elographics"
    | "xf86-input-evdev"
    | "xf86-input-fpit"
    | "xf86-input-hyperpen"
    | "xf86-input-jamstudio"
    | "xf86-input-joystick"
    | "xf86-input-keyboard"
    | "xf86-input-magellan"
    | "xf86-input-magictouch"
    | "xf86-input-microtouch"
    | "xf86-input-mouse"
    | "xf86-input-mutouch"
    | "xf86-input-palmax"
    | "xf86-input-penmount"
    | "xf86-input-spaceorb"
    | "xf86-input-summa"
    | "xf86-input-tek4957"
    | "xf86-input-ur98"
    | "xf86-input-vmmouse"
    | "xf86-input-void"
    | "xf86-video-amd"
    | "xf86-video-apm"
    | "xf86-video-ark"
    | "xf86-video-ati"
    | "xf86-video-chips"
    | "xf86-video-cirrus"
    | "xf86-video-cyrix"
    | "xf86-video-dummy"
    | "xf86-video-fbdev"
    | "xf86-video-glint"
    | "xf86-video-i128"
    | "xf86-video-i740"
    | "xf86-video-i810"
    | "xf86-video-impact"
    | "xf86-video-imstt"
    | "xf86-video-mga"
    | "xf86-video-neomagic"
    | "xf86-video-newport"
    | "xf86-video-nsc"
    | "xf86-video-nv"
    | "xf86-video-rendition"
    | "xf86-video-s3"
    | "xf86-video-s3virge"
    | "xf86-video-savage"
    | "xf86-video-siliconmotion"
    | "xf86-video-sis"
    | "xf86-video-sisusb"
    | "xf86-video-sunbw2"
    | "xf86-video-suncg14"
    | "xf86-video-suncg3"
    | "xf86-video-suncg6"
    | "xf86-video-sunffb"
    | "xf86-video-sunleo"
    | "xf86-video-suntcx"
    | "xf86-video-tdfx"
    | "xf86-video-tga"
    | "xf86-video-trident"
    | "xf86-video-tseng"
    | "xf86-video-v4l"
    | "xf86-video-vermilion"
    | "xf86-video-vesa"
    | "xf86-video-vga"
    | "xf86-video-via"
    | "xf86-video-vmware"
    | "xf86-video-voodoo"
    | "xf86-video-xgi"
    | "xf86bigfontproto"
    | "xf86dga"
    | "xf86dgaproto"
    | "xf86driproto"
    | "xf86miscproto"
    | "xf86rushproto"
    | "xf86vidmodeproto"
    | "xfd"
    | "xfindproxy"
    | "xfontsel"
    | "xfs"
    | "xfsinfo"
    | "xfwp"
    | "xgamma"
    | "xgc"
    | "xhost"
    | "xineramaproto"
    | "xinit"
    | "xkbcomp"
    | "xkbdata"
    | "xkbevd"
    | "xkbprint"
    | "xkbutils"
    | "xkill"
    | "xload"
    | "xlogo"
    | "xlsatoms"
    | "xlsclients"
    | "xlsfonts"
    | "xmag"
    | "xmame"
    | "xman"
    | "xmessage"
    | "xmh"
    | "xmlformat"
    | "xmodmap"
    | "xmore"
    | "xorg-cf-files"
    | "xorg-docs"
    | "xorg-server"
    | "xorg-sgml-doctools"
    | "xphelloworld"
    | "xplsprinters"
    | "xpr"
    | "xprehashprinterlist"
    | "xprop"
    | "xproto"
    | "xproxymanagementprotocol"
    | "xrandr"
    | "xrdb"
    | "xref.lisp"
    | "xrefresh"
    | "xrx"
    | "xset"
    | "xsetmode"
    | "xsetpointer"
    | "xsetroot"
    | "xshipwars"
    | "xsm"
    | "xstdcmap"
    | "xtrans"
    | "xtrap"
    | "xv"
    | "xvidtune"
    | "xvinfo"
    | "xwd"
    | "xwininfo"
    | "xwud"
    | "zend-optimizer"
    | "zoo"
   }

IsA =
   element IsA
   {
      "app"
    | "app:console"
    | "app:gui"
    | "app:web"
    | "library"
    | "service"
    | "data"
    | "data:doc"
    | "data:font"
    | "kernel"
    | "driver"
    | "locale"
    | "locale:tr"
    | "locale:en"
    | "locale:es"
    | "locale:nl"
    | "locale:fr"
    | "locale:de"
    | "locale:it"
   }

PartOf = element PartOf { text }

Summary = element Summary { attlist.Summary, text }

attlist.Summary &= attribute xml:lang { text }?

Description = element Description { attlist.Description, text }

attlist.Description &= attribute xml:lang { text }?

Archive = element Archive { attlist.Archive, text }

attlist.Archive &=
   attribute sha1sum { text },
   attribute type
   {
      "targz" | "tarbz2" | "tarlzma" | "tar" | "zip" | "gzip" | "binary"
   }

BuildDependencies = element BuildDependencies { Dependency+ }

Dependency = element Dependency { attlist.VersionReleaseToFrom, text }

attlist.VersionReleaseToFrom =
   attribute versionFrom { text }?,
   attribute versionTo { text }?,
   attribute version { text }?,
   attribute releaseFrom { text }?,
   attribute releaseTo { text }?,
   attribute release { text }?

Patches = element Patches { Patch+ }

Patch = element Patch { attlist.Patch, text }

attlist.Patch &=
   attribute compressionType { text }?,
   attribute level { text }?,
   attribute target { text }?

Provides = element Provides { COMAR+ }

COMAR = element COMAR { attlist.COMAR, text }

attlist.COMAR = attribute script { text }?

Conflicts = element Conflicts { Conflicts.Package+ }

Conflicts.Package = element Package { attlist.VersionReleaseToFrom, text }

Replaces = element Replaces { Replaces.Package+ }

Replaces.Package = element Package { attlist.VersionReleaseToFrom, text }

AdditionalFiles = element AdditionalFiles { AdditionalFile+ }

AdditionalFile = element AdditionalFile { attlist.AdditionalFile, text }

attlist.AdditionalFile =
   attribute target { text },
   attribute permission { text }?,
   attribute owner { text }?

RuntimeDependencies = element RuntimeDependencies { Dependency+ }

Files = element Files { Path+ }

Path = element Path { attlist.Path, text }

attlist.Path &=
   attribute fileType
   {
      "executable"
    | "library"
    | "data"
    | "config"
    | "doc"
    | "man"
    | "info"
    | "localedata"
    | "header"
   },
   attribute permanent { "false" | "true" }?

Update =
   element Update
   {
      attlist.Update,
      Date,
      Version,
      Comment,
      Packager.Name,
      Email
   }

attlist.Update &=
   attribute release { text },
   attribute type { "security" | "bug" }?

Date = element Date { xsd:date }

Version = element Version { text }

Comment = element Comment { text }
